---
layout: full-width
title: The Family
# nav_exclude: true
# Note that this index page uses a full-width layout!
---

  <ul class="content-listing ">
    <h2 class="content-listing-header">The Family</h2>
    <p>"The Family". It's hard to define what that means, for we are <em>all</em> family to some extent or other. For the purposes of this site, I'm going to start with an egocentric perspective and build from there: not quite in concentric circles, because information (in the tales) isn't organised and presented that way. If you are family and have tales to share, especially if you have images to go with them, please <a href="https://cullaloe.net/contact/">get in touch</a>.</p>
    <p>Tales about family members are categorised by surname at birth, unless there is some good reason not to.</p>
    {% for category in site.categories %}
        <p>{{ category[0] }}</p>
        <ul>
          {% for post in category[1] %}
            <li class="listing"><a href="{{ post.url  | prepend: site.baseurl }}">{{ post.title }}</a> <span class="smaller">{{ post.date | date: "%B %Y" }}</span></li>
          {% endfor %}
        </ul>
      {% endfor %}

  </ul>
