---
layout: full-width
title: Tales
order: 1
# nav_exclude: true
# Note that this index page uses a full-width layout!
---

<ul class="content-listing ">
  <h2 class="content-listing-header">Family Tales</h2>
<!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
    {% unless post.hide %}
      <li class="listing">
        <hr class="slender">
        <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="contrast">{{ post.title }}</h3></a>
        <br><span class="smaller">{{ post.date | date: "%d %B %Y" }}
        {% if post.author %} by {{post.author}}
        {% elsif site.author %} by {{site.author}}
        {% endif %} 
        </span><br/>
        <div>{% if post.thumb %}<img src="{{ site.baseurl  }}/assets/img/{{ post.thumb }} " height="100em" style="float:left;padding: 0 10px 0 0;" />{% endif %} {{ post.excerpt }}</div> 
      </li>
    {% endunless %}
  {% endfor %}

<!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
    <li class="listing">
    <hr class="slender">
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">&lt;&lt;&nbsp;</a>
      {% endif %}
      <span class="page_number ">
        page {{ paginator.page }} of {{ paginator.total_pages }}
      </span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">&nbsp;&gt;&gt;</a>
      {% endif %}
    </div>
    </li>
  {% endif %}
</ul>
